<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Vue Events App</title>
    <script  type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMYq0XYXe4tFoGqSpA6LhGWHA2X1aN4Wg&libraries=places"></script>
  </head>
  
  <body>
    <noscript>
      <strong>We're sorry but delete-events-app doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    
  </body>
</html>
