<template>
  <div class="home">
    <search-box />
  </div>
</template>
<script>
import SearchBox from '../components/SearchBox.vue';
export default {
  components: { SearchBox },
  name: 'home',
  
  methods: {
    // Log the user in
    login() {
      this.$auth.loginWithRedirect();
    }
  }
}
</script>
<style lang="scss" scoped>
  
</style>