<template>
    <div class="user">
        <check-user />
    </div>
</template>

<script>
import CheckUser from '../components/CheckUser.vue'
export default {
    name: "User",
    components: { CheckUser },
}
</script>