<template>
    <div class="container check-user">
        <h1>{{this.message}}</h1>
        <button  class="button is-primary" @click="checkUser">Fetch API</button>
    </div>
</template>

<script>
import UserService from '@/services/UserService.js';
export default {
    name: "CheckUser",
    data(){
        return{
            message: ''
        }
    },
    methods:{
        async checkUser(){
            const accessToken = await this.$auth.getTokenSilently()
            // Use the userService to call the checkUser() method
            UserService.checkUser(accessToken)
            .then( res => {
                if(res){
                    this.message = res
                }
            })
            .catch(err => {
                console.log(err)
            })
        }
    }
}
</script>