<template>
  <div>
    <div class="block travel-mode">
      <label><b>Travel Modes in Directions: </b></label>
      <div class="select">
        <select id="mode">
          <option value="DRIVING">Driving</option>
          <option value="WALKING">Walking</option>
          <option value="BICYCLING">Bicycling</option>
          <option value="TRANSIT">Transit</option>
        </select>
      </div>
    </div>

    <div id="map"></div>
  </div>
</template>

<script>
export default {
  name: "Map",
  data() {
    return {
      ourMap: null,
      currentLocation: { lat: 0, lng: 0 },
      destination: { lat: 0, lng: 0 },
    };
  },
  // created(){
  //     this.geoLocation();
  // },
  mounted() {
    this.initMap();
  },
  methods: {
    initMap() {
      //get current location
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          (position) => {
            this.currentLocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude,
            };

            //initialize map
            var mapProp = {
              center: this.currentLocation,
              zoom: 13,
              maxZoom: 20,
              minZoom: 3,
              streetViewControl: true,
              mapTypeControl: true,
              fullscreenControl: true,
              zoomControl: true,
            };

            this.ourMap = new window.google.maps.Map(
              document.getElementById("map"),
              mapProp
            );
            this.setMarker(this.currentLocation, "A");
          },
          (error) => {
            console.log(error.message);
          },
          {
            enableHighAccuracy: true,
            maximumAge: 0,
            timeout: 5000,
          }
        );
      } else {
        alert("Geolocation is not supported by this browser.");
      }
    },

    //get direction from current location to the address searched
    getDirection(destination) {
      let directionsService = new window.google.maps.DirectionsService();
      let directionsRender = new window.google.maps.DirectionsRenderer();
      let selectedMode = document.getElementById("mode").value;

      //save the geocode of destination to destination variable
      if (destination) {
        this.destination = {
          lat: destination.geometry.location.lat(),
          lng: destination.geometry.location.lng(),
        };
      }
      this.ourMap = new window.google.maps.Map(document.getElementById("map"));

      let request = {
        origin: new window.google.maps.LatLng(this.currentLocation.lat, this.currentLocation.lng),
        destination: new window.google.maps.LatLng(this.destination.lat, this.destination.lng),
        travelMode: window.google.maps.TravelMode[selectedMode],
      };

      directionsRender.setMap(this.ourMap);

      directionsService.route(request, function (result, status) {
        if (status == "OK") {
          let steps = result.routes[0].legs[0].steps;
          steps.forEach((res) => {
            new window.google.maps.Marker({
              position: {
                lat: res.start_location.lat(),
                lng: res.start_location.lng(),
              },
              map: this.ourMap,
              label: {
                text: "",
                color: "#FFF",
              },
            });
          });

          directionsRender.setDirections(result);
        } else {
          console.log(status);
        }
      });
    },

    //mark location in map
    setMarker(points, label) {
      new window.google.maps.Marker({
        position: points,
        map: this.ourMap,
        label: {
          text: label,
          color: "#FFF",
        },
      });
    },
  },
};
</script>

<style lang="scss">
.travel-mode {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#map {
  width: 100%;
  height: 600px;
}
</style>