<template>
  <div class="container address-search-box">
      <h2 class="title">Search the address</h2>
      <div class="block is-flex">
            
            <GmapAutocomplete
                @place_changed='setPlace'
                class="input is-primary search-box"
            />
            <button
                class="button is-primary"
                @click="markLocation"
            >
                Directions
            </button>
      </div>

      <div class="block">
          <Map ref="mark"/>
      </div>
        
  </div>
</template>

<script>
    import Map from './Map.vue';
    export default {
        components: { 
            Map,
        },

        data: function () {
            return {
              currentPlace: null,
            }
        },

        methods: {
            markLocation(){
                this.$refs.mark.getDirection(this.currentPlace);
            },

            setPlace(place) {
                this.currentPlace = place;
            },
        }
    }
</script>

<style lang="scss">
.title{
    text-align: center;
}
</style>